# deps
node_modules/
.pnpm-store/

# build
dist/
build/
.expo/
.expo-shared/
web-build/
.wrangler/
.eas/

# env / secrets
.env
.env.*
.dev.vars
.dev.vars.*
*.local
.npmrc.local

# native
ios/
android/
*.orig.*
*.apk
*.aab
*.ipa
*.keystore
*.jks

# logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
